.title{
    text-align: center;
    background-color: #D8B384;
    color: #5E454B;

}
h1{
    line-height: 1.5;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    
}
h3{
    line-height:1.3;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
   
}
.container-fluid{
    padding: 3% 12%  ;
}
/*edditing the nav bar*/
.navbar{

    font-size: large;
    font-weight: 600;
    padding-bottom: 4.5rem;
}
.navbar-brand{
  
    font-size: 2rem;
    font-weight: bold;
}
/*giving padding to the nav-item  basically the li tag in the nav bar*/
.nav-item{
    padding-left: 12px;

}
/*we can our own custom class to elements even after adding the boot starp to it*/
.button-me{
    margin: 5% 2% 1% 1%;
}/*editing the tittle img*/
.title-img{
    width: 60%;
    margin-top:12px;
}
/* features */
.fimg{
    width: 25%;
}
.fh3{
    margin-top: 22px;
}
.features{
    background-color:#5E454B ;
}
.fh3{
    color: #D8B384;
}
.fp{
    color: #D8B384; 
}
/*for features */
.col-lg-4{
    text-align: center;
}
/*for tittle tag*/
.col-lg-6{
    text-align: center;
}
/*section 3 top 10*/
.topten{
    text-align: center;
    background-color:#D8B384;

}
.top{
    margin-top: 5%;
    width:22%;
    margin-bottom: 5%;
}
.th1{
    color: #5E454B;
    font-size: 3rem;
}
/*THE SLIDER*/
.Slide{
    text-align: center;
    background-color: #D8B384;
}
.slideimg{
    padding-top: 1rem;
    width: 15%;
}
.carh1{

    font-size: 2rem;
    color: #D8B384;
    font-family: 'Playfair Display', serif ;
}

.slidep{
    font-size: 1rem;
    color: #D8B384;
    font-family: 'Playfair Display', serif ;
}
.slidecar{
    background-color: #5E454B;
    width: 75%;
    height: 67%;
}
/*BOOTSTARP CARD*/
.cardimg{
    width: 25%;
}
.cardsection{
    background-color: #D8B384;
    padding: 100px;
}
.cardh2{
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Playfair Display', serif ;
    font-size: 2.7rem;
    
}
.carda{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color: #D8B384;

}
.cardcol{
    
    padding:3% 2%;
    text-align: center;
}
.cardh3{
    color: #D8B384;
    font-weight: 400;
}
.cardh2{
    font-size: 3rem;
    color: #5E454B;
}
.card-header{
    background-color: #5E454B;
    border: none;
   
}
.card-body{
    background-color: #5E454B;
    border: none;
   
}
.card-footer{
    background-color: #5E454B;
    border: none;
    
}
.carda:hover{
    color: #D8B384
}
.button:hover{

    color: #D8B384
}
.card{
    border: none;
    text-align: center;
}
/* Last Section   */
.last{
    padding-top: 4%;
    background-color: #5E454B;
    text-align: center;

}
.lasth1{
    color: #D8B384;
    font-size:3.1rem;
}
.malelast{
  
    width: 20%;
}
.Femalelast{
  
    width: 20%;
}
.lastcol{
    padding-top: 2.7rem;
}
.lastp{
    color: #D8B384;
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif ;
    padding-top: 1rem;
}
.knowmorea{
    text-decoration: none;
    color: black;
}
.knowmorea:hover{
    color: antiquewhite;
}

@media (max-width:768px) {
   .lasth1{
       font-size: 2rem;
   } 
   .cardh2{
    font-size: 2rem;
   }
   .th1{
    font-size: 2rem;
   }
   .lastp{
       font-size: 1rem;
   }
   .top{
       width: 30%;
   }
   .slideimg{
       width: 25%;
   }
  

}


